.buttonContainer {
  display: flex;
  cursor: pointer;
  color: rgb(128, 128, 128);
}
.buttonContainerList {
  display: flex;
  cursor: pointer;
  color: rgb(128, 128, 128);
  background-color: rgb(224, 224, 224);
  width: 270px;
  min-height: 30px;
  border-radius: 3px;
  padding-top: 6px;
}

.buttonText {
  margin: 0;
}

.cardContainer {
  min-height: 60px;
  min-width: 200px;
  padding: 6px 8px 2px 0px;
}

.bottomButtonContainer {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.textArea {
  resize: none;
  width: 100%;
  outline: none;
  border: none;
  overflow: hidden;
}
