* {
  font-family: Tahoma, sans-serif;
}

.listContainer {
  display: flex;
  background-image: url("./assets/img/dark-ocean-sea-water.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 800px;
  padding: 10px;
}