* {
  font-family: Tahoma, sans-serif;
}

.listContainer {
  display: flex;
  background-image: url("./dark-ocean-sea-water.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
  min-height: 800px;
  padding: 10px;
}