* {
  font-family: Tahoma, sans-serif;
}

.listContainer {
  display: flex;
  background-image: url("./dark-ocean-sea-water.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(1px); */
  background-position: bottom;
  /* height: 100vh; */
  /* background-color: rgb(1, 73, 43); */
  min-height: 800px;
  padding: 10px;
}